{% load static %}
<html lang="en">
<head>
    <title>Reset Password </title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!-- Stylesheet -->
    <link href="{% static 'css/reset.css' %}" rel="stylesheet">

</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" action="{% url 'forget_password' %}">
        {% csrf_token %}
        <h3>Reset Your Password</h3>

        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter your email" id="email" required>

        <button type="submit">Reset Password</button>

        <!-- Reset password link -->
        <div class="reset-password-link">
            <a href="{% url 'login' %}">Back to login</a>
        </div>
    </form>

    <!-- Display messages -->
    <div id="toast" class="toast">
        {% for message in messages %}
            <div class="toast-message">
                {% if message.tags == "success" %}
                    <span class="success-icon">✔</span> <!-- Success Icon -->
                {% elif message.tags == "error" %}
                    <span class="error-icon">✘</span> <!-- Error Icon -->
                {% endif %}
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <script>
        // Auto-hide messages after a few seconds
        setTimeout(() => {
            const toast = document.getElementById('toast');
            toast.style.display = 'none';
        }, 5000);
    </script>
</body>

</html>
